/* Iframe wrapper */
.ratio-16x9{
    height: 0;
    margin-bottom: 1em;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}
/* Iframe */
.embed-responsive-item {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
